########################################
# Fans configuration
########################################

# [multi_pin multi_fans]
# pins:PA8, PC6

[fan]
pin: PA8

[heater_fan EXTRUDER_MOTOR_FAN]
pin: PB15

# [fan_generic board_fan] #[temperature_fan board_fan] #[controller_fan board_fan]
# pin: PB14
#fan_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed: 0.2
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater: extruder
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
#control: pid #watermark
#pid_kp = 70.888
#pid_ki = 1.120
#pid_kd = 1121.798
min_temp: 0
max_temp: 130

#=====================================================
# CB1 TEMP
#=====================================================
[temperature_sensor PI_CB1]
sensor_type: temperature_host
min_temp: 10
max_temp: 85 #100

[duplicate_pin_override]
pins: PB14

[controller_fan CB1_FANS]
pin: PB14
kick_start_time: 0.500
max_power: 1.0
fan_speed: 1.0
heater: heater_bed 

[temperature_fan CB1_FANS]
pin: PB14
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: -40
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 1.0
target_temp: 45

[idle_timeout]
timeout: 1800
gcode:
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=CB1_FANS TARGET=35


#=====================================================
# MOTHERBOARD TEMP
#=====================================================

[temperature_sensor MANTA_E3_EZ]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#=====================================================
# PI PICO TEMP
#=====================================================

[temperature_sensor pi_pico]
sensor_type: temperature_mcu
sensor_mcu: Pi_Pico
min_temp:10
max_temp:85









